name: Release

on:
  push:
    branches:
      - dev

  pull_request:
    branches:
      - dev

  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read

    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set image tag
        id: vars
        run: |
          if [[ "${{ github.event_name }}" == "release" ]]; then
            TAG="${{ github.event.release.tag_name }}"
          elif [[ "${{ github.event_name }}" == "push" ]]; then
            TAG="latest"
          elif [[ "${{ github.event_name }}" == "pull_request" ]]; then
            TAG="pr-${{ github.event.pull_request.number }}"
          fi
          echo "tag=$TAG" >> $GITHUB_OUTPUT

      - name: Build container
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          tags: ghcr.io/${{ github.repository }}:${{ steps.vars.outputs.tag }}
          push: true
