name: Unit tests

permissions:
  contents: read

on:
  push:
    branches:
      - dev

  pull_request:
    branches:
      - dev

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      db:
        image: mariadb

        env:
          MARIADB_USER: atlas
          MARIADB_PASSWORD: atlas
          MARIADB_DATABASE: atlas
          MARIADB_INITDB_SKIP_TZINFO: "yes"
          MARIADB_RANDOM_ROOT_PASSWORD: "yes"

        options: --health-cmd="healthcheck.sh --connect --innodb_initialized" --health-interval=10s --health-timeout=5s --health-retries=3

        ports:
          - 3306:3306

    env:
      CXX: g++-14

    steps:
      - uses: actions/checkout@v6

      - name: Get latest CMake
        # Using 'latest' branch, the latest CMake is installed.
        uses: lukka/get-cmake@latest

      - name: Run vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          doNotCache: false

      - name: Setup database
        run: |
          sudo apt update -qq
          sudo apt install -yqq mariadb-client
          mysql -h 0.0.0.0 -u atlas -patlas atlas < schema.sql

      - name: Build with CMake
        uses: lukka/run-cmake@v10
        env:
          ASAN_OPTIONS: exitcode=0
          LSAN_OPTIONS: exitcode=0
        with:
          buildPreset: vcpkg
          buildPresetAdditionalArgs: "['--config', 'Debug']"
          configurePreset: vcpkg
          configurePresetAdditionalArgs: "['-DASAN=ON', '-DBUILD_TESTING=ON']"
          testPreset: vcpkg
          testPresetAdditionalArgs: "['--build-config', 'Debug', '--output-on-failure']"
